
*{
    font-family: 'Play', sans-serif;
    font-size: large ;
    text-transform: uppercase;
}


.box {
    width: 80px;
    height: 80px;
    background: grey;
    box-shadow: 4px 4px 4px 0px rgba(14, 13, 13, 0.781);
    margin-right: 10px;
    -webkit-animation:name 2s;

  }

.box-position{
    display: flex;
    justify-content: center;
}  

@-webkit-keyframes name {
    0% {background-color:rgb(246, 20, 20);}
    100% {background-color:grey;}
}
.btn.start { background: #5fca5f; }

.stop { color: crimson;
   box-shadow: 2px 2px 2px rgb(243, 6, 6);
   background-color: crimson;
}

.form {
    color: blue;
}

#start {
    background-color: #262626;
    color: white;
    border: 1px solid white;
    margin: 10px;
    font-size: 18px;
}
.akai{
    background-color: rgb(210, 204, 204);
    height: 500px;
    width: 500px;
    padding-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 2%;
    box-shadow: 20px 20px 0px grey;

}

.name{
    display:flex;
    justify-content: center;
    color: rgb(17, 136, 220) ;
    height: 8%;
}

input[type=text] {
    border: 5px solid red;
    border-radius: 4px;
    background-color: rgb(74, 147, 249);
    color: red ;
    text-align: center;
  }

  .light{
      background-color: crimson;
      color: darkblue;
  }
